<div class='boxTitleName'> ::: รับสินค้าเข้า ::: </div>
<div class='boxRec'>
    <ul>
        <li class="headRec">
            <span>Name..</span>
            <span>ใบส่งของ</span>
        </li>
        <li class="RecBox1">
            <div class="subRecBox1">
                <span>ชื่อลูกค้า</span>
                <span>ที่อยู่</span>
            </div>
            <div class="subRecBox1">
                <span>เลขที่</span>
                <span>วันที่สั่งสินค้า</span>
            </div>
        </li>

    </ul>
</div>