<ul>
    <li onclick="selectMenu(3,0)">หน้าแรก</li>
    <li onclick="selectMenu(1,0)">ผู้ขาย</li>
    <li onclick="selectMenu(6)">สินค้าต้นทุน</li>
    <li onclick="selectMenu(5)">สินค้า/สต็อก</li>
    <li onclick="selectMenu(2)">รับสินค้า</li>
    <li>รายงาน</li>
</ul>